.output-eqation-img{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}
p{
    margin: 0px;
    padding: 0px;
}


.symbol-img{
    height: 30px;
    margin: 7px;
    width:fit-content;
    
    
    
}


.top-symbol-navbar img:hover{
    cursor: pointer;

}


.hideen{
    display: none;
}

.drop-down-box{
    height: 200px;
    width: 260px;
    
}


.greeklower-dropdown .drop-down-box img{
    height: 30px;
}





.greekupper-top .symbol-img{
    height: 20px;
}


.height-20-px{
    height: 20px;
}
.height-21-px{
    height: 21px;
}
.height-22-px{
    height: 22px;
}
.height-23-px{
    height: 22px;
}
.height-24-px{
    height: 22px;
}



.width-25-px{
    width: 25px;
}

.binary-dropdown img, .binary-top img {
    height: 20px;
}




.symbol-dropdown img , .symbol-top img{
    height: 20px;
}

.foreign-dropdown img , .foreign-top img{
    height: 20px;
}

.subsupset-top img , .subsupset-dropdown img {
    height: 20px;
}


.accents-dropdown img, .accents-top img , .accentsext-dropdown img, .accentsext-top img{
    height: 20px;
}



